/*第一题*/
#no1
{
    height: 5px;
    background-color: red;
}
/*第二题*/
#no2
{
    color: red;
    text-align: center;
}
/*第三题*/
.no3
{
    color: green;
    text-align: center;
}

#no3
{
    color: red;
    text-align: center;
}
